@page "/Account/SignOut"

<PageTitle>Logout</PageTitle>

<h1>Logout</h1>

<form method="post" action="/Account/Logout">
    <AntiforgeryToken />
    <p>Click the button to log out.</p>
    <button type="submit" class="btn btn-primary">Logout</button>
</form>